{% extends 'layouts/default.html' %}


{% block breadcrumb %}
<div class="breadcrumb">
{% for crumb in my.ancestors -%}
<a href="{{ crumb.url }}">{{ crumb.title }}</a> &rsaquo;
{% endfor -%}
{{ my.title }} &rsaquo;
</div>
{% endblock %}


{% block main %}
<h1>{{ my.title }}</h1>
<ul>
{% for page in my.parent %}
  <li><a href="{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
{% endblock %}


{% block breadcrumb2 %}
<div class="breadcrumb bc2">
{% for crumb in my.ancestors -%}
<a href="{{ crumb.url }}">{{ crumb.title }}</a> &rsaquo;
{% endfor -%}
{{ my.title }} &rsaquo;
</div>
{% endblock %}
